<h1>Place Entry</h1>

<form action="/places/submit_new">
	<input name="title" type="text" placeholder="Enter Place Name">
	<input name="price" type="text" placeholder="Enter price of entry in pennies">
	<input name="photo_url" type="text" placeholder="photo url of place">
	<input name="description" type="text" placeholder="brief description">
	<input type="submit" value="New Place">
</form>

